<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="IntrusionPreventionSystemProject.IntrusionPreventionService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:6002"/>
          </baseAddresses>
        </host>
        <endpoint address="IIntrusionPreventionSystem"
                          binding="netTcpBinding"
                          contract="Common.IIntrusionPreventionSystem"
                          />
      </service>
    </services>
    <client>
      <endpoint name="IFileManager"
                address="net.tcp://localhost:6001/IFileManager"
                binding="netTcpBinding"
                contract="Common.IFileManager"
                />
    </client>
  </system.serviceModel>
</configuration>