<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="trace.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FileManagerProject.FileManagerService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:6001"/>
          </baseAddresses>
        </host>
        <endpoint address="IFileManager"
                          binding="netTcpBinding"
                          bindingConfiguration="WinConfig"
                          contract="Common.IFileManager"
                          />
        <endpoint address="IClient"
                          binding="netTcpBinding"
                          bindingConfiguration="WinConfig"
                          contract="Common.IClient"
                          />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="WinConfig">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="IFileMonitoring"
                address="net.tcp://localhost:6000/IFileIntegrityService"
                binding="netTcpBinding"
                bindingConfiguration="WinConfig"
                contract="Common.IFileIntegrityService"
                />
    </client>
  </system.serviceModel>
</configuration>