<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MonitoredPath" value="MonitoredFiles"/>
		<add key="srvCertCN" value="ipsservice"/>
		<add key="signCertCN" value="FIMCert"/>
		<add key="MonitoringPeriod" value="1000"/>
	</appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FileIntegrityMonitoringProject.FileIntegrityMonitoringService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:6000"/>
          </baseAddresses>
        </host>
        <endpoint address="IFileIntegrityService"
                          binding="netTcpBinding"
                          bindingConfiguration="WinConfig"
                          contract="Common.IFileIntegrityService"
                          />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="WinConfig">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="IIntrusionPreventionSystem"
                address="net.tcp://localhost:6002/IIntrusionPreventionSystem"
                binding="netTcpBinding"
                contract="Common.IIntrusionPreventionSystem"
                />
    </client>
  </system.serviceModel>
</configuration>